@font-face
{
    font-family: "Headers";
    src: url('../fonts/Market_Deco.ttf');    
}

@font-face
{
    font-family: "Text";
    src: url('../fonts/MADEINFINITY\ PERSONALUSE-Regular.otf');  
}
body
{
    background-color: #ebe975bc;
}
h2
{
    font-family:"Headers", sans-serif;
    color: #000000;
    font-size:x-large;
}
.btn
{
    width: 40px;
    height: 40px;
    font-size: xx-large;
    color: #000000;
    background-color: #EBE975;
    border-radius: 50px;
    
}
h3
{
    font-family: "Text", sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
}
h1
{
    display: block;
    background-color: #ebe975d7;
    color: rgb(0, 0, 0);
    font-family: "Headers", sans-serif;
    font-size: xx-large;
    text-align: center;
    position: relative;
    padding: 10px;
}
#content
{
    width: 300px;
    height: 425px;
    display: block;
    background-color: #ebe975c2;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    padding: 20px;
    margin: auto;
    border-style: dotted;
    border-radius: 50px;
    border-color: #000000;

}