<!DOCTYPE html>
<html>
<head>
  <title>Selección de Casa</title>
  <link rel="stylesheet" href="../statics/styles/seleccion.css">
</head>

<body>
  <h1>Selecciona tu casa</h1>

  <div class="house-selection">
    <div class="house-option">
      <div class="house-image">
        <img src="../statics/media/img/ajolote.png" alt="ajolotes who??" width="192" height="185">
      </div>
      <div class="house-name">Ajolotes</div>
    </div>

    <div class="house-option">
      <div class="house-image">
        <img src="../statics/media/img/halcon.png" alt="halconesgods" width="200" height="200">
      </div>
      <div class="house-name">Halcones</div>
    </div>

    <div class="house-option">
      <div class="house-image">
        <img src="../statics/media/img/teporingo 2.png" alt="teporingozzz" width="200" height="200">
      </div>
      <div class="house-name">Teporingos</div>
    </div>
  </div>
</body>
</html>